html,
body {
    min-width: 1170px;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1170px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/*Начало стилизации навигации*/


.main-header {
    box-sizing: border-box;
    width: 100%;
    min-height: 925px;
    background-image: url("img/header-pet.png"), url("img/header-background.jpg");
    background-repeat: no-repeat;
    background-position: 775px bottom, center top;
    background-color: #382e28;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    width: 466px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-logo {
    display: block;
    width: 184px;
    margin: 0;
    padding-right: 520px;
}

.main-header-logo a {
    display: block;
    margin: 0;
    padding: 0;
}

.header-logo h1 {
    display: block;
    width: 200px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 32px;
    line-height: 32px;
    font-weight: normal;
    color: #f1cdb3;
    letter-spacing: 1px;
    margin: 0;
}

.header-logo p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 29px;
    color: #ffffff;
    letter-spacing: 1.1px;
    margin: 0;
}

.user-navigation a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 29px;
    color: #cdcdcd;
    text-decoration: none;
    padding-bottom: 5px;
}

.user-navigation a:hover {
    color: #ffffff;
    border-bottom: 3px solid #fddcc4;
}

.promo {
    display: block;
    margin-top: 240px;
}

.promo h2 {
    display: block;
    width: 370px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 44px;
    line-height: 57px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 40px;
}

.promo p {
    display: block;
    width: 455px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #cdcdcd;
    margin: 0;
    margin-bottom: 30px;
}

.promo-button {
    display: block;
    width: 205px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 17px;
    line-height: 14px;
    color: #000000;
    text-decoration: none;
    background-color: #f1cdb3;
    padding: 18px 0;
    text-align: center;
    border-radius: 30px;
    letter-spacing: 1.5px;
}

.promo-button:hover,
.promo-button:focus {
    background-color: #fddcc4;
}


/*Начало стилизации основного блока*/


.about-us {
    display: flex;
}

.about-us-text {
    display: block;
    width: 420px;
    margin: 121px 155px 115px 0;
}

.about-us-text h3 {
    display: block;
    width: 310px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 35px;
    line-height: 45px;
    font-weight: normal;
    color: #545454;
    letter-spacing: 2px;
    margin: 0 0 37px 0;
}

.about-us-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #4c4c4c;
}

.about-us-image {
    display: block;
    margin: 89px 120px 89px 170px;
}

.catalog-section {
    display: block;
    background-color: #f6f6f6;
    padding: 78px 0 68px 0;
}

.catalog-title h3 {
    display: block;
    width: 430px;
    text-align: center;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 35px;
    line-height: 45px;
    font-weight: normal;
    color: #545454;
    letter-spacing: 2px;

    margin: 0 370px 66px 370px;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-item {
    display: block;
    width: 270px;
    height: 424px;
    background-color: #fafafa;
    border-radius: 5px;
    margin-bottom: 66px;
}

.catalog-item:hover {
    box-shadow: 0 10px 15px #e1e1e1;
}

.catalog-item img {
    border-radius: 10px;
}

.item-description {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 20px;
    line-height: 45px;
    font-weight: normal;
    color: #545454;
    text-align: center;
}

.item-description p {
    margin: 0;
    letter-spacing: 1px;
}

.catalog-button {
    display: block;
    width: 188px;
    height: 50px;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 17px;
    line-height: 50px;
    font-weight: normal;
    color: #292929;
    text-decoration: none;
    background-color: #ffffff;
    border: 2px solid #f2d3bc;
    border-radius: 30px;
    letter-spacing: 1px;
    margin: 15px 40px 34px 40px;
}

.catalog-button:hover,
.catalog-button:focus {
    background-color: #f1cdb3;
    border: 2px solid #f1cdb3;
}

.items-button {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #f2d3bc;
}

.items-button:hover,
.items-button:focus {
    background-color: #f1cdb3;
    border: 2px solid #f1cdb3
}

.items-button:first-child {
    margin-right: 30px;
}

.items-button:last-child {
    margin-left: 30px;
}

.items-button svg {
    display: block;
    margin: 8px;
}


.right svg {
    transform: rotate(180deg)
}

.catalog-more {
    display: block;
    width: 267px;
    height: 52px;
    background-color: #f1cdb3;
    border-radius: 30px;
    margin: auto;
}

.catalog-more:hover,
.catalog-more:focus {
    background-color: #fddcc4;
}

.catalog-more a {
    display: block;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 17px;
    line-height: 57px;
    font-weight: normal;
    color: #292929;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
}

.help-title {
    display: block;
    width: 330px;
    text-align: center;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 35px;
    line-height: 45px;
    font-weight: normal;
    color: #545454;
    letter-spacing: 2px;

    margin: 72px 423px 72px 423px;
}

.help-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-bottom: 83px;
}

.help-item {
    display: block;
    margin-right: 130px;
    list-style: none;
}

.help-item:nth-child(5) {
    margin-right: 0;
}

.help-item:nth-child(6) {
    margin-left: 130px;
}

.help-item h4 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    color: #545454;
    letter-spacing: 0.5px;
}

.donation-section {
    display: block;
    background-color: #f6f6f6;
}

.donation {
    display: flex;
}

.donation-dog {
    display: block;
    margin: 86px 0;
}

.donation-text {
    display: block;
    margin: 71px 0 87px 62px;
}

.donation-text h3 {
    display: block;
    width: 385px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 35px;
    line-height: 45px;
    font-weight: normal;
    color: #545454;
    letter-spacing: 2px;
    margin: 0;
}

.first-text {
    display: block;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 15px;
    line-height: 12px;
    font-weight: normal;
    color: #545454;
    letter-spacing: 1px;
    margin-top: 18px;
    margin-bottom: 13px;
}

.credit-card {
    display: inline-block;
    vertical-align: middle;
    width: 319px;
    height: 47px;
    background-color: #f1cdb3;
    border-radius: 10px;
    margin-bottom: 33px;
}

.credit-card svg {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 29px;
    margin: 0 7px 0 14px;
}

.credit-card span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 45px;
    font-weight: normal;
    color: #292929;
    letter-spacing: 1px;
}

.second-text {
    display: block;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    font-style: italic;
    color: #b2b2b2;
    margin: 0;
}

