html,
body {
    min-width: 1170px;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1170px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/*Начало стилизации навигации*/


.main-header {
    box-sizing: border-box;
    width: 100%;

    min-height: 925px;
    /*background: url("img/header-dog.jpg") no-repeat 952px bottom,*/
    /*url("img/header-background.jpg") no-repeat center top;*/
    background-color: #382e28;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    width: 466px;
    padding: 0;
    margin: 0;
    margin-bottom: 235px;
    list-style: none;
}

.header-logo {
    display: block;
    width: 184px;
    margin: 0;
    padding-right: 520px;
}

.main-header-logo a {
    display: block;
    margin: 0;
    padding: 0;
}

.header-logo h1 {
    display: block;
    width: 200px;
    font-family: Georgia, Arial, sans-serif;
    font-size: 32px;
    line-height: 32px;
    font-weight: normal;
    color: #f1cdb3;
    margin: 0;
}

.header-logo p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 29px;
    color: #ffffff;
    margin: 0;
}

.user-navigation a {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 29px;
    color: #cdcdcd;
    text-decoration: none;
}

.promo {
    display: block;
}


.promo-text {
    display: block;
    margin: 250px 0 0 269px;
}